@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

body{
    font-family: 'Product Sans';
}

.btn-start{
    width: 150px;
    text-align: center;
    background-color: #49BDCD;
    border: 0px;
    font-size: 18px;
    font-family: 'Product Sans';
}

.btn-start:hover{
    background-color: #268592;
}

.banner-hero h1{
    font-weight: bold;
    color: #37474F;
    font-size: 54px;
}
.banner-hero p{
    color: #A6A6A6;
    font-size: 22px;
}
.banner-image img{
    margin-top: 35%;
    margin-left: -20%;
}

.section-title{
    margin-top: 10%;
}

/*services*/
.services .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }
  
  .services .icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
  }
  
  .services .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .services .icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
  }
  
  .services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }
  
  .services .icon-box h4 a {
    color: #45505b;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  }
  
  .services .iconbox-blue i {
    color: #47aeff;
  }
  
  .services .iconbox-blue:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-blue:hover .icon path {
    fill: #47aeff;
  }
  
  .services .iconbox-orange i {
    color: #ffa76e;
  }
  
  .services .iconbox-orange:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-orange:hover .icon path {
    fill: #ffa76e;
  }
  
  .services .iconbox-pink i {
    color: #e80368;
  }
  
  .services .iconbox-pink:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-pink:hover .icon path {
    fill: #e80368;
  }
  
  .services .iconbox-yellow i {
    color: #ffbb2c;
  }
  
  .services .iconbox-yellow:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-yellow:hover .icon path {
    fill: #ffbb2c;
  }
  
  .services .iconbox-red i {
    color: #ff5828;
  }
  
  .services .iconbox-red:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-red:hover .icon path {
    fill: #ff5828;
  }
  
  .services .iconbox-teal i {
    color: #11dbcf;
  }
  
  .services .iconbox-teal:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-teal:hover .icon path {
    fill: #11dbcf;
  }

  #footer {
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    margin-top: 5%;
  }
  