@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

body{
    font-family: 'Product Sans';
}

.btn-start{
    width: 150px;
    text-align: center;
    background-color: #49BDCD;
    border: 0px;
    font-size: 18px;
    font-family: 'Product Sans';
}

.btn-start:hover{
    background-color: #268592;
}

.banner-hero h1{
    font-weight: bold;
    color: #37474F;
    font-size: 54px;
}
.banner-hero p{
    color: #A6A6A6;
    font-size: 22px;
}
.banner-image img{
    margin-top: 35%;
    margin-left: -20%;
}

.section-title{
    margin-top: 10%;
}

.nav-link{
  font: size 24px;
}

/*content start*/
#benefits{
    margin-top: 50px;
}
#juara{
    margin-top: 50px;
}
.section-title{
    display: inline-block;
}
.section-subtitle{
    margin-left: 50px;
    display: inline-block;
}
.card-custom{
    text-align: center;
    width: 100%;
    margin-top: 50px;
    display: inline-block;
    overflow: auto;
}
.card-custom img{
    padding: 25px;
    width: 150px;
}
.card-inside{
    border-radius: 12px;
    margin: 36px 36px 0px 36px;
}        
.card-text{
    font-size: 24px;
    text-align: center;
}
.organized{
    margin-top:50px;
}
.organized-title{
    text-align: center;
    font-size: 24px;
}
.instansi{
    margin-right:50px ;
}

  #footer {
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    margin-top: 5%;
  }
  